.footer {
  margin: 90px 142px 0px 142px;
}

.footer-nav_border {
  border-bottom: 1px solid #E3E0DA;
}

.footer-col-container {
  padding: 24px 0;
}

.links__element {
  .links__title {
    font-family: Tenor Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.4px;

  }

  .links__text {

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #5C5A55;
    text-decoration: none;
  }
}

.second__element {
  padding-top: 40px;
}